<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Time of day:</strong>
  <%= @country.time_of_day %>
</p>

<p>
  <strong>Age:</strong>
  <%= @country.age %>
</p>

<p>
  <strong>Saying:</strong>
  <%= @country.saying %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
