<html>
  <head>
    <title></title>
  </head>
  <body>
  
  
      <p id="notice"><%= notice %></p>

      <h1>Squirrels Squirrels Squirrels</h1>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Breed</th>
            <th>Age</th>
            <th>Owner</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @squirrels.order('name').each do |squirrel| %>
            <tr>
              <td><%= squirrel.id %></td>
              <td><%= squirrel.name %></td>
              <td><%= squirrel.breed %></td>
              <td><%= squirrel.age %></td>
              <td><%= squirrel.try(:owner).try(:name) %></td>
              <td><%= link_to 'Show', squirrel %></td>
              <td><%= link_to 'Edit', edit_squirrel_path(squirrel) %></td>
              <td><%= link_to 'Destroy', squirrel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Squirrel', new_squirrel_path, class: "btn btn-warning" %>

  </body>
</html>